/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 * 在线css转less/sass/stylus: http://tools.jb51.net/code/css2less
 */
.highlight
  display block
  overflow-x auto
  background #1e1e1e
  color #dcdcdc
  pre
    .keyword,
    .literal,
    .symbol,
    .name 
      color #569cd6
    .link 
      color #569cd6
      text-decoration underline
    .built_in,
    .type 
      color #4ec9b0
    .number,
    .class 
      color #b8d7a3
    .string,
    .meta-string 
      color #d69d85
    .regexp,
    .template-tag 
      color #9a5334
    .subst,
    .function,
    .title,
    .params,
    .formula 
      color #dcdcdc
    .comment,
    .quote 
      color #57a64a
      font-style italic
    .doctag 
      color #608b4e
    .meta,
    .meta-keyword,
    .tag 
      color #9b9b9b
    .variable,
    .template-variable 
      color #bd63c5
    .attr,
    .attribute,
    .builtin-name 
      color #9cdcfe
    .section 
      color gold
    .emphasis 
      font-style italic
    .strong 
      font-weight bold
    /*.code {
      font-family:'Monospace';
    }*/
    .bullet,
    .selector-tag,
    .selector-id,
    .selector-class,
    .selector-attr,
    .selector-pseudo 
      color #d7ba7d
    .addition 
      background-color #144212
      display inline-block
      width 100%
    .deletion 
      background-color #600
      display inline-block
      width 100%
