// 模拟svg图标

.github-badge
  display: inline-block
  margin: 5px
  color: #fff
  line-height: 1.1em

  a
    color: #fff !important
    &:hover
      text-decoration: none !important

	.badge-subject
	  display: inline-block
	  background-color: #4d4d4d
	  padding: 4px 4px 4px 6px
	  border-radius: 4px 0 0 4px
	
	.badge-value
		display: inline-block
		padding: 4px !important
		border-radius: 0 4px 4px 0

	.bg-red
		background-color: #e05d44

	.bg-orange
		background-color: orange

	.bg-brightgreen
		background-color: #4dc820

	.bg-blue
		background-color: #007ec6

	.bg-blueviolet
		background-color: #8833d7

// 嵌入iframe
.bilibili
  position: relative
  width: 100%
  height: 0
  padding-bottom: 75%
.ixigua
  position: relative
  width: 100%
  height: 0
  padding-top: 56.25%

.bilibili,
.ixigua
  iframe
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

// aplayer移动端
@media screen and (max-width: $device-mobile)
  .aplayer-fixed.aplayer-narrow
    .aplayer-body
      left -66px !important
  
  .aplayer-fixed.aplayer-narrow:hover
    .aplayer-body
      left: 0 !important
