@import '_defines/*'

// Project
@import '_tag-plugins/*'
@import '_highlight'
@import '_plugins/index'
@import '_layout/*'
@import '_mine'
if hexo-config('plugins.fontawesome_animation.enable') == false
  @import '_animation'

#safearea{
  display: block
}
