@media screen and (max-width: $device-mobile)
  .l_header
    .list-v
      .aplayer,.aplayer-pic
        border-radius: $border-card * 0.5
        width: 64px
        height: 64px

.aplayer-container
  display: flex
  justify-content: center
  min-height: 100px
  meting-js
    max-width: 100%
  if hexo-config('plugins.aplayer.fixed') == true
    position: absolute;

.aplayer
  max-width: 500px
  border-radius: 4px
  color: var(--color-text)
  font-family: $fontfamily
  .aplayer-list
    text-align: left
  @media screen and (max-width: $device-mobile)
    border-radius: $border-card

if hexo-config('plugins.aplayer.lrc_show') == false
  .aplayer-lrc
    display: none !important