//代码块复制按钮
if hexo-config('custom_css.body.highlight.copy_btn') == true
  .highlight
    //方便copy代码按钮（btn-copy）的定位
    position: relative

  .btn-copy
    z-index: 1
    display: inline-block
    cursor: pointer
    border: none
    disable-user-select()
    -webkit-appearance: none
    font-size: 12px
    padding-right: 0.75em
    height: 32px
    line-height: 32px
    >i
      margin-right: 2px
    color: var(--color-meta)
    background: transparent
    position: absolute
    top: -1px
    right: 0
    trans()
    &:hover, &.copied
      color: $color-hover
    .icon-copy
      font-size: 15px
      font-weight: bold
