$text = url(hexo-config('custom_css.cursor.text'))
$pointer = url(hexo-config('custom_css.cursor.pointer'))
$default = url(hexo-config('custom_css.cursor.default'))

@media screen and (min-width: $device-mobile)
  html
    cursor: $default,auto !important
  a:not([class="notlink"]), button, .vicon, .vat
    cursor: $pointer,auto !important
