*
  cursor: url(https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/img/default.cur),auto!important
a:not([class="notlink"]),a:not([class="notlink"]) *
  cursor: url(https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/img/pointer.cur),auto!important
input,textarea
  cursor: url(https://cdn.jsdelivr.net/gh/qinxs/cdn-assets/img/text.cur),auto!important