// 以后关于 md 渲染方面的都写到这里
.md
  .headimg-div
    padding: 8px
  @media screen and (max-width: $device-mobile)
    margin-top: -0.5 * $gap
    >p
      font-size: 17px
  .article-meta+p:not(.p)
    &:before
      content: "摘要："
      font-weight: 900
  >p
    margin: 16px 0

  h1
    font-size: 1.6em !important
    line-height: 1.6em !important
  h2
    margin-top: 1.8 * $gap
    font-size: 1.5em
    line-height: 1.5em
    border-bottom: 1px dotted #a6acab
  h3
    margin-top: 1.2 * $gap
    font-size: 1.4em
    line-height: 1.4em
    border-bottom: 1px dotted #a6acab
  h2 ~ h3
    border-bottom: 0
  h4,h5,h6
    font-size: 1em;
    font-weight: bold
  // 防止toc定位后 标题被遮挡
  h1,h2,h3,h4,h5,h6
    &:before
      content: ''
      display: block
      margin-top: 0 - $navbar-height
      height: $navbar-height + 0.5 * $gap
    a
      color: $color-hover

  ul,ol
    font-size: $fontsize-list
    list-style: initial
    padding-left: 8px
    margin-left: $gap
    margin-top: $gap-p
    margin-bottom: $gap-p
    ul,ol
      margin-top: 0
      margin-bottom: 0
    li
      margin-top: 0px
      margin-bottom: 0px
      li
        margin-top: 0
        margin-bottom: 0
      p
        margin-top: 4px
        margin-bottom: 0
    &.task-list
      padding-left: 0
      margin-left: 4px
      li
        list-style: none
        input
          margin-right: 4px

    @media screen and (max-width: $device-mobile)
      font-size: 16px

  ul>li
    list-style: initial
    line-height: 1.8em
  ol>li
    list-style: decimal
    line-height: 1.8em

  .div-ori-link
    display: block
    text-align: center
    margin: 4rem 0
  .ori-link
    margin: auto
    padding: 1em 3em
    border: 1px solid $color-theme
    border-radius: $border-button
    color: $color-theme
    font-weight: 500
    &:hover
      color: $color-hover
      border-color: $color-hover

  pre
    font-size: .9rem !important
    //line-height: 1.6 !important
  table:not([class])
    tr:hover
      background-color: transparent
    td:not([class]),th:not([class])
      border: 1px solid rgb(204, 204, 204)

  code
    font-family: $fontfamily-code
    &:not([class])
      word-break: break-all
      color: var(--color-inlinecode)
      border-radius: $border-codeblock * 0.5